@font-face {
  font-family: 'Avenir Next';
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/demi.eot');
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/demi.eot?#iefix') format('embedded-opentype'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/demi.woff2') format('woff2'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/demi.woff') format('woff'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/demi.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/medium.eot');
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/medium.eot?#iefix') format('embedded-opentype'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/medium.woff') format('woff'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/regular.eot');
  src: url('https://code.ionicframework.com/assets/fonts/avenir-next/regular.eot?#iefix') format('embedded-opentype'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/regular.woff') format('woff'),
  url('https://code.ionicframework.com/assets/fonts/avenir-next/regular.ttf') format('truetype');
  font-weight: 400;
}

*{
  font-family: 'Avenir Next';
  transition: all 0.5s ease;
}

.menu{
  height: 100%;
  padding:0px !important;
  margin:0px;
  position: relative;
  overflow: hidden;
}
.row{
  margin:0px;
}
.col{
  padding:0px !important;
}
.my-blue{
  background-color: #101524;
}
.my-grey{
  background-color:#E9E9E9;
}
.text-right{
  text-align: right;
}
.with-half-overlay h5{
  z-index: 20;
}
.half-overlay{
  position: absolute;
  min-height: 100%;
  width: 50%;
  right: 0px;
  background-color: rgba(0,0,0,0.05);
}
.text-center{
  text-align: center;
}
.italic{
  font-style: italic;
}
.padd{
  padding:10px !important;
}
.cv.black-text{
  color:#3F3F46 !important;
  position: relative;
}
.cv{
  position: relative;
}
.cv .padd{
  padding:10px 50px !important;
}
.cv .cv-item{
  margin-bottom: 50px;
}
.cv .item-title{
  text-transform: uppercase;
  font-weight: bold;
}
.cv .item-role{
  font-style: italic;
}
.cv .skill-item{
  width:150px;
  height: 150px;
  border:5px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
}
.cv .more-info i{
  font-size: 30px;
}
.section-title{
  text-transform: uppercase;
  font-weight: bold;
  margin: 50px 0px;
}
.muted{
  color:grey;
}
.all-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover{
  background-color: #101524;
  height: 100%;
  display: flex;
  color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding:5px;
}
.cover p, .cover i, .cover small{
  z-index: 10;
}
.cover p{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.cover i {
  font-size: 50px;
  padding:20px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
  position:absolute;
  left: calc(50% - 45px);
  top:25%;
}
.cover small{
  font-size:14px;
  font-style: italic;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  opacity: 0;
}
.menu > i{
  cursor: pointer;
}
.menu .close{
  position:fixed;
  right: 10px;
  top:10px;
  z-index: 1001;
  font-size: 80px;
  color:#7B828E;
  text-shadow: 1px 1px 1px black;
}
.menu .page-scroll{
  position:absolute;
  bottom:0px;
  left:calc(50% - 40px);
  font-size: 80px;
  color:white;
  z-index: 100;
  animation: goDown 1s infinite;
}
.cover .image{
  position: absolute;
  top:0px;
  left: 0px;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  opacity: 0.5;
}
.cover:hover .image {
  opacity: 0.8;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand'); /* IE6 and 7 */
}
.cover:hover i{
  animation:iconTarget 0.3s;
}
.cover:hover small{
  opacity: 1 !important;
}

.enumeration{
  padding:10px 50px;
}
.enumeration li{
  position: relative;
  padding: 10px;
  padding-left: 30px;
  border-left: 1px solid #e9ebee;
}
.enumeration i{
  position: absolute;
  left:-18px;
  font-size: 20px;
  padding:8px;
  border-radius: 50%;
}
.enumeration li p:nth-child(2){
  font-weight: bold;
}
.enumeration p{
  margin:5px;
}
.my-flat-button{
  border:1px solid white;
  margin:20px 0px;
}
footer{
  padding:10px;
  width: 100%;
}
footer span{
  border-right: 1px solid white !important;
  padding-right: 10px;
}
.portfolio-wrapper{
  max-width: 1000px;
  width:98%;
  margin: 0 auto;
  padding:20px 0px;
  background-size: cover;
  background-position: center;
}
.portfolio-wrapper .col{
  padding:10px !important;
}
.portfolio-item{
  min-height: 290px;
  min-width: 290px;
  border:10px solid white;
  position: relative;
  background-position: center;
}
.portfolio-item .title, .portfolio-item .subtitle{
  text-shadow: 1px 1px 1px black;
  z-index: 2;
}
.portfolio-item .subtitle{
  opacity: 0;
}
.portfolio-overlay{
  opacity: 0;
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(185deg, #42A5F5, rgba(66,165,96, 0));
}
.portfolio-item:hover{
  animation: 0.5s portfolio-item-ative;
}
.portfolio-item:hover{
  background-position-x: left;
}
.portfolio-item:hover .portfolio-overlay{
  opacity: 1;
  transition-duration: 0.5s;
}
.portfolio-item:hover .subtitle{
  opacity: 1;
  transition-duration: 0.5s;
}
.blog .content{
  max-width: 900px;
  width: 98%;
  margin:40px auto;
}
.blog .post{
  display: block;
}
.blog .cover{
  position: relative;
  height: 300px !important;
  background-size: cover;
  background-position: center;
  margin-top: -40px;
}
.blog .info{
  width:90%;
  margin:0 auto;
  background-color: white;
  position: relative;
  bottom:100px;
  padding:20px;
}
@keyframes iconTarget{
  from{
    padding:50px;
    left: calc(50% - 75px);
    top:20%;
  }
  to{
    padding:20px;
    left: calc(50% - 45px);
    top:25%;
  }
}
@keyframes goDown{
  0%{
    bottom:20px;
  }
  50%{
    bottom:0px;
  }
  100%{
    bottom:20px;
  }
}
@keyframes portfolio-item-ative{
  from{
    background-position-x: center;
  }
  to{
    background-position-x: left;
  }
}

@media (max-width:600px){
  .cover{
    height: 25%;
  }
  .col{
    width: 100% !important;
  }
  .cover i {
    font-size: 20px;
    padding:10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    position:absolute;
    left: calc(50% - 20px);
    top:5%;
  }
  .cover:hover i{
    animation:none;
  }
  .active .cover{
    height: 100%;
  }
  .active .cover i {
    font-size: 50px;
    padding:20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    position:absolute;
    left: calc(50% - 45px);
    top:25%;
  }
}
