---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media-query(max-width:800px){
	.site-footer .picture{
		margin:0 auto;
	}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body{
	text-align:justify;	
	font-family: Roboto !important;
}

.navbar-inverse{
	background-image: url(../images/solucoes.png) !important;
	border:0px !important;
	background-color:#698ABF;	
	color: white !important;
	box-shadow:0px 0px 10px black;
}

.navbar-inverse .navbar-brand{
	font-family: Consolas !important;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	font-size:30px;
}

.navbar-inverse a{
	color: white !important;
	padding-bottom:10px;
	border-bottom:5px solid rgba(0,0,0,0);
}

.navbar-inverse .navbarLink:hover{
	border-color:white;
	transition-duration:0.5s;
}

.page-content{
	position:relative;
	top:20px;
	background-color:white;
}

.site-footer .wrapper{
	padding:30px;
	border-top:1px solid grey !important;	
}

.site-footer .picture{
	float:left;	
	border-radius:1000px;
	width:100px;
}