---
layout: page
subtitle: Analista de sistemas e das coisas da vida
icon: ion-ios-chatbubble-outline
image: /img/blog.jpg
description:
---
<div class="blog">
  <div class="content">
    {% for post in site.posts %}
    {% if post.category != "portfolio" %}
    <a href="{{ post.url }}" class="post">

      <div class="cover" style="background-image:url('{{ post.image }}')"></div>
      <div class="info">
        <h5>{{ post.title }}</h5>
        <p class="meta">{{ post.date | date: '%B %d, %Y'}}</p>
        <p class="muted">
          {{ post.description }}
        </p>
      </div>


    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
