 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desenvolvedores-footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5408692415712463"
     data-ad-slot="1005736830"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

 <footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><img src="/img/logo-dev.png"></h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto: douglasxgabriel@gmail.com">Envie sua sugestão</a></li>          
        </ul>
        <h5 class="white-text">Sobre mim</h5>        
          <a class="grey-text text-lighten-3" target="_blank" href="https://br.linkedin.com/in/douglas-gabriel-574618a4"><i class="fa fa-linkedin-square"></i></a>
          <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/douglasgabriel"><i class="fa fa-github-square"></i></a>
          <a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/douglas.gabriel.18"><i class="fa fa-facebook-square"></i></a> 
          <a class="grey-text text-lighten-3" href="mailto: douglasxgabriel@gmail.com"><i class="fa fa-envelope"></i></a>      
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      © 2016 Copyright Text      
    </div>
  </div>
</footer>