<header>

    <nav class="dgg-navbar blue-grey darken-3">

        <ul class="dgg-menu row">

            {% for pg in site.pages %}
            {% if pg.title and pg.title != '' %}
                <div class="col s3">
                    <a href="{{ pg.url }}">
                        {% if pg.url == page.url %}
                        <li class="dgg-link dgg-align-chdr-center active">                        
                        {% else %}
                        <li class="dgg-link dgg-align-chdr-center">
                        {% endif %}

                            <div class="dgg-pos-over text-center">

                                <div class="dgg-link-icon">
                                    <i class="{{ pg.icon }}"></i>
                                </div>
                                <p class="dgg-link-title">
                                    {{ pg.title }}
                                </p>                            

                            </div>

                        </li>
                    </a>
                </div>

            {% endif %}
            {% endfor %}

        </ul>

    </nav>

</header>