<header class="site-header">

  <div class="header-photo" style="background-image:url('/images/{{ site.photo }}')">

  </div>

  <div class="header-content blue-grey-darken-4">

    <div class="header-content-top">

      <div class="left w50p h100p align-children-center blue-darken-4">
        <h1> {{ site.title }}</h1>
      </div>
      <div class="right w50p h100p align-children-center blue-darken-3">
        <h2> 
          {{ site.subtitle }} 
        </h2>        
      </div>

    </div>

    <div class="header-content-bottom">
        <div class="menu">

          <a href="/" class="w20p align-children-center">
              <div>
                <i class="ion-ios-home-outline"></i>
                <p>Home</p>                
              </div>
          </a>

          {% for pagina in site.pages %}
            {% if pagina.title %}

              {% if pagina.url == page.url %}
                <a href="{{ pagina.url | prepend: site.baseurl }}" class="w20p align-children-center active">
              {% else %}
                <a href="{{ pagina.url | prepend: site.baseurl }}" class="w20p align-children-center">
              {% endif %}
                <div>
                  <i class="{{ pagina.icon }}"></i>
                  <p>{{ pagina.title }}</p>                  
                </div>
              </a>

            {% endif %}
          {% endfor %}
          
        </div>  

    </div>

  </div>  

</header>
