<header class="post-header" style="background:url({{site.url}}{% if page.cover %}{{ page.cover }}{% else %}{{ site.image_posts_default }}{% endif %});">

  <div class="social">
    <a href="https://www.facebook.com/douglas.gabriel.18"><i class="mdi mdi-facebook"></i></a>
    <a href="https://github.com/douglasgabriel"><i class="mdi mdi-github-circle"></i></a>
    <a href="https://br.linkedin.com/in/douglas-gabriel-574618a4"><i class="mdi mdi-linkedin"></i></a>
  </div>
  <div class="wrapper">

  </div>

</header>
