<header class="site-header">

  <div class="social">
    <a href="https://www.facebook.com/douglas.gabriel.18"><i class="mdi mdi-facebook"></i></a>
    <a href="https://github.com/douglasgabriel"><i class="mdi mdi-github-circle"></i></a>
    <a href="https://br.linkedin.com/in/douglas-gabriel-574618a4"><i class="mdi mdi-linkedin"></i></a>
  </div>
  <div class="wrapper">
<br>
    <div class="author row">
      <div class="author-image col s12 m3 l2">
        <img src="img/author.jpg" alt="">
      </div>
      <div class="presentation col s12 m9 l10 text-shadow-1">
        <h4><a href="{{ site.baseurl }}/">{{ site.title }}</a></h4>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>

</header>
