<div class="slider black">
    <ul class="slides">
    {% if page.category == 'all' %}
      <li>      
        <img src="/img/HNCK4530.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Bem-vindo!</h3>
          <h5 class="light grey-text text-lighten-3">Aqui você encontra conteúdo relevante para manter-se atualizado sobre o mundo do desenvolvimento de softwares</h5>
        </div>
      </li>
      {% endif %}
      {% for post in site.posts %}
      {% if post.slider and page.category == 'all' %}            
      <li>
      <a target="_blank" href="{{ post.link }}">
        <img src="{{ post.image }}">
        <div class="caption left-align">
          <h3>{{ post.title }}</h3>
          <h5 class="light grey-text text-lighten-3">{{ post.description }}</h5>
        </div>
        </a>
      </li>      
      {% endif %}
      {% if post.categoryslider and post.category == page.category %}            
      <li>
      <a target="_blank" href="{{ post.link }}">
        <img src="{{ post.image }}">
        <div class="caption left-align">
          <h3>{{ post.title }}</h3>
          <h5 class="light grey-text text-lighten-3">{{ post.description }}</h5>
        </div>
        </a>
      </li>      
      {% endif %}      
      {% endfor %}      
    </ul>
  </div>