.bold{
    font-weight: bold;
}

.content{
    padding:20px;
}

.no-pad{
    padding:0px !important;
}

.no-margin{
    margin: 0px !important;
}

.dgg-background-mask{
    @include linear-gradient(0deg, black, transparent);
}