$colors : (
    blue-darken-4: #0d47a1,
    blue-darken-3: #1565c0,
    blue-grey-darken-4:#263238,
    blue-grey-lighten-5:#eceff1,
    white: white,
    muted: #e9ebee,
    transparent: rgba(0,0,0,0.2)
);

$size-header-photo: 250px;
$half-size-header-photo: $size-header-photo / 2;

$curriculum-size-border-separator: 10px;