.site-header{    
    .header-photo{        
        width: $size-header-photo;
        height: $size-header-photo;
        float:left;
        background:{
            size:cover;
            position:center;
        }
    }
    .header-content{
        margin-left:$size-header-photo;        
        height: $size-header-photo;
        .header-content-top{            
            width: 100%;
            height: $half-size-header-photo;
            color: map-get($colors , white);
            text-align: center;
            .left{
                h1{
                    font-weight: 600;
                }
            }       
            .right{
                p{
                    font-size: 15px;
                }
            }     
        }
        .header-content-bottom{
            .menu{
                a{                  
                    color: map-get($colors , white);
                    float: left;
                    height: $half-size-header-photo;
                    i{
                        font-size: 35px;
                    }
                    &:hover, &.active{
                        background-color: rgba(0,0,0,0.5);
                        text-decoration: none;
                    }
                }
            }
        }        
    }
}