<html>

    {% include head.html %}

    <body>
        
        {% include header.html %}

		<main class="post">            

			<div class="post-header dgg-align-chdr-center" style="background-image:url('{{ page.image }}')">

				<div class="content white-text dgg-background-mask">

					<h1 class="post-title">{{ page.title }}</h1>
					<p class="post-subtitle">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

				</div>

			</div>

			<article class="post-content">
				
				{{ content }}

			</article>

		</main>

		{% include footer.html %}

    </body>

</html>